


* {
    box-sizing: border-box;
}

.no1 {
    background-color: #3a21f3;
    padding: 20px;
    float: left;
    width: 100%;
    margin: 0 auto;
}

.no2 {
    background-color: #da0505;
    padding: 20px;
    float: left;
    width: 100%;
}

.no3 {
    background-color: #04aa6d;
    padding: 20px;
    float: left;
    width: 100%;
}

.no4{
    background-color: #f321ec;
    padding: 20px;
    float:left;
    width: 100%;
}

.no5{
    background-color: #d0f321;
    padding: 20px;
    float:left;
    width: 100%;
}

.name{
    background-color: #8f00ff;
    padding: 20px;
    float:left;
    width: 100%;
    text-align: center;
}

.objective{
    background-color: #f321c6;
    padding: 20px;
    float:left;
    width: 100%;
}

.education{
    background-color: #75f321;
    padding: 20px;
    float:right;
    width: 100%;
}

.project{
    background-color: #2196f3;
    padding: 20px;
    float:left;
    width: 100%;
}


@media screen and (max-width:800px) {

    .no1,
    .no2,
    .no3,
    .no4, .no5, .name, .objective, .education, .project {

        width: 100%;
    }
}