{% extends 'base.html' %}

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

<title>Home</title>

<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

<!-- Bootstrap core CSS -->
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="album.css" rel="stylesheet">



{% endblock %}
{% block body %}

<br>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading"><i><b>Nutritional & Diet Control</b></i></h1>
            <p class="lead text-muted"><b>“ Tell me what you eat, and I will tell you what you are.” by our Team</b></p>
            
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="static/images/1.jpg"
                           
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><i><b>“The food you eat can be either the safest and 
                                most powerful form of medicine or the slowest form of poison.”</i></b></p>
                            <div class="d-flex justify-content-between align-items-center">
                               
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="static/images/2.jpg"
                            
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><b><i>"Eating healthy nutritious food is the simple and 
                                the right solution to get rid of excess body weight effortlessly and become slim</b></i></p>
                            <div class="d-flex justify-content-between align-items-center">
                                
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top"
                            src="static/images/4.webp"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><i><b> Get inspired to live a healthy and happy life through
                                 the power of nutrition and eating whole foods.</i></b></p>
                            <div class="d-flex justify-content-between align-items-center">
                                
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
           
        </p>
        <p>This assignment is &copy; Our Team, but please download and customize it for yourself!</p>
        <p>New to Our Team? <a href="/about">Visit the about page</a> or read our <a
                href="/blog">blog page</a>.</p>
    </div>
</footer>


{% endblock %}